#CORS CONFIG
CORS_ORIGIN="*"
CORS_METHODS="GET,POST,PUT,DELETE"
CORS_PREFLIGHT=true
CORS_OPT_SUCCESS_STATUS=204
CORS_MAX_AGE=60
#RATE LIMITING (RL) CONFIG
RL_TTL=60
RL_LIMIT=10
#SSI SERVICE
SSI_SERVICE_URL=
DWN_URL=''
SSI_PROJECT_NAME='TBD'
DID_METHOD='key'
 
EVENTBRITE_API_KEY=
EVENTBRITE_CLIENT_SECRET=
EVENTBRITE_PRIVATE_TOKEN=
RESEND_API_KEY=
